doctype html
html(ng-app='bmwApp')
	head
		script(src='libs/jquery/dist/jquery.js')
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		script(src='libs/bootstrap/dist/js/bootstrap.min.js')

		script(src='libs/angular/angular.js')
		script(src='libs/angular-route/angular-route.js')

		script(src='appRoutes.js')
		script(src='js/controllers/MainCtrl.js')
		script(src='js/controllers/ErrorCtrl.js')
		script(src='app.js')

		



		base(href='/')

		meta(name='viewport' content='width=device-width, initial-scale=1.0' charset='utf-8')
		title Bluemarkets

	body
		div.container
			div(ng-view)