doctype html
html(ng-app='bmwApp')
	head
		script(src='libs/jquery/dist/jquery.js')
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		script(src='libs/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet/less' href='less/styles.less' type="text/css")
		script(src='/libs/less/dist/less.js' type='text/javascript')
		

		script(src='libs/angular/angular.js')
		script(src='libs/angular-route/angular-route.js')

		script(src='appRoutes.js')



		script(src='js/controllers/ErrorCtrl.js')
		script(src='app.js')
		script(src='js/services/services.js')
		script(src='js/controllers/AuthCtrl.js')
		

		



		base(href='/')

		meta(name='viewport' content='width=device-width, initial-scale=1.0' charset='utf-8')
		title Bluemarkets

	header
		nav.navbar.navbar-fixed-top.navbar-default
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-auth")
						span.icon-bar
						span.icon-bar
						span.icon-bar

				.navbar-collapse.collapse#navbar-auth
					ul.nav.navbar-nav.navbar-default
						li
							a(href='/') Home
					ul.nav.navbar-nav.navbar-right
						li(ng-show='user')
							a(href='/account') My Account
						li(ng-show='user')
							a(href='/logout') Logout
						li(ng-show='!user')
							a(href='/register') Register
						li(ng-show='!user')
							a(href='/login') Login


	body
		div.container#main-wrapper
			.col-xs-4.line
				hr
			.col-xs-4.logo {{ site }}
			.col-xs-4.line
				hr

			div(ng-view)
			.footer