doctype html
html(ng-app='bmwApp')
	head
		script(src='libs/jquery/dist/jquery.js')
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		script(src='libs/bootstrap/dist/js/bootstrap.min.js')
		link(rel='stylesheet/less' href='less/config.less' type="text/css")
		link(rel='stylesheet/less' href='less/styles.less' type="text/css")
		script(src='/libs/less/dist/less.js' type='text/javascript')
		

		script(src='libs/angular/angular.js')
		script(src='libs/angular-ui-router/release/angular-ui-router.js')

		



		script(src='js/controllers/ErrorCtrl.js')
		script(src='js/services/DataService.js')
		script(src='app.js')
		script(src='appRoutes.js')
		script(src='js/services/AuthService.js')

		script(src='js/directives/SearchResultsDirective.js')
		script(src='js/directives/PathDirective.js')
		
		script(src='js/controllers/MainCtrl.js')
		script(src='js/controllers/IndustriesCtrl.js')
		script(src='js/controllers/SubIndustryCtrl.js')
		script(src='js/controllers/AuthCtrl.js')
		





		base(href='/')

		meta(name='viewport' content='width=device-width, initial-scale=1.0' charset='utf-8')
		title Bluemarkets

	header
		nav.navbar.navbar-fixed-top.navbar-default
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-auth")
						span.icon-bar
						span.icon-bar
						span.icon-bar

				.navbar-collapse.collapse#navbar-auth
					ul.nav.navbar-nav.navbar-default
						li
							a(ui-sref='industries.top') Home
					ul.nav.navbar-nav.navbar-right
						li(ng-show='user')
							a(ui-sref='account') My Account
						li(ng-show='user' ng-controller='AuthController')
							a(ng-click='logout()') Logout
						li(ng-show='!user')
							a(ui-sref='register') Register
						li(ng-show='!user')
							a(ui-sref='login') Login


	body
			

			div(ui-view)
			.footer