doctype html
html(ng-app='bmwApp')
	head
		script(src='libs/jquery/dist/jquery.js')
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet' href='css/style.css')
		script(src='libs/bootstrap/dist/js/bootstrap.min.js')

		script(src='libs/angular/angular.js')
		script(src='libs/angular-route/angular-route.js')

		script(src='appRoutes.js')



		script(src='js/controllers/MainCtrl.js')
		script(src='js/controllers/ErrorCtrl.js')
		script(src='app.js')
		script(src='js/services/services.js')
		script(src='js/controllers/LoginCtrl.js')
		

		



		base(href='/')

		meta(name='viewport' content='width=device-width, initial-scale=1.0' charset='utf-8')
		title Bluemarkets

	header
		nav.navbar.navbar-fixed-top.navbar-default
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-auth")
						span.icon-bar
						span.icon-bar
						span.icon-bar

				center
					.navbar-collapse.collapse#navbar-auth
						ul.nav.navbar-nav.navbar-right

							div(ng-if='loggedIn')
								li
									a(href='/account')
										button.btn.btn-link.navbar-btn(type='button') My Account
								li
									a(href='/logout' ng-controller='LogoutController')
										button.btn.btn-link.navbar-btn(type='button') Logout
							div(ng-if='!loggedIn')
								//- .alert.alert-danger(ng-show='error') {{errorMessage}}
								li
									a(href='/register')
										button.btn.btn-link.navbar-btn(type='button') Register
									a(href='/login')
										button.btn.btn-link.navbar-btn(type='button') Login


	body
		div.container
			div(ng-view)