<div ng-show="!requestFormOpened" ng-init="sent=false">
	<div class="alert alert-success alert-message" role="alert" ng-if="sent">
		<a href="#" class="alert-link" >Requested more content successfully!</a>
	</div>
	<button class="btn btn-primary" ng-click="openRequestForm()">Request more content</button>
</div>
<div ng-show="requestFormOpened">
	<form class="form" ng-submit="createRequest()">
		<div class="row">
			<div class="form-group col-xs-6">
				<textarea rows="4" cols="50" class="form-control" name="message" ng-model="requestForm.message" placeholder="Leave a request message" required></textarea>
				<input type="hidden" class="form-control" name="requestType" ng-model="requestForm.requestType" required value="{{requestType}}">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<button class="btn btn-default" ng-click="closeRequestForm()">Close</button>
				<button type="submit" class="btn btn-info" ng-click="closeRequestForm();sent=true" >Send</button>
			</div>
		</div>
	</form>
</div>