<div class="tab-pane" id="industry-content-wrapper">
	<h2>Reports</h2>
	<ul class="media-list list-group" ng-if="industry.code!=3345191">
		<li class="media list-group-item player-list-item">
			<div class="media-left media-middle expert-icon">
				<a href="#">
					<span class="media-object glyphicon glyphicon-alert"></span>
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">No writings about this industry</h4>
				<p>We are sorry but nobody has written about this industry yet. Feel free to request content and inform us about your needs!</p>
			</div>
		</li>
	</ul>
	<ul class="media-list list-group" ng-if="industry.code==3345191">
		<li class="media list-group-item player-list-item">
			<div class="media-left media-middle expert-icon">
				<span class="glyphicon glyphicon-stats"></span>
			</div>
			<div class="media-body">
				<h4 class="media-heading">(Smart) wearables - Statista Dossier</h4>
				<p>The dossier presents a range of statistics on wearable technology. The wearables market includes smart watches, smart wristbands, fitness & activity trackers, smart garments and clothing as well as other wearables. The wearable devices dossier includes segments about device unit sales and revenue, as well as chapters about the distinct types of wearables.
					<br><br>Times ordered from this site: 399
					<br>Language: English
					<br>Price: $325
					<br>Reliability: 96% <a href="#" data-toggle="popover" data-trigger="focus" data-placement="top" class="glyphicon glyphicon-question-sign" data-content="Reliability is calculated from the suggestions of the experts adjusted with the user rated experience-level of the experts."></a></p>
				</div>
				<div class="media-right media-middle">
					<button href="https://www.statista.com/statistik/register/15607" class="btn btn-default btn-success btn-lg">Order</button>
				</div>
			</li>
			<li class="media list-group-item player-list-item">
				<div class="media-left media-middle expert-icon">
					<span class="glyphicon glyphicon-stats"></span>
				</div>
				<div class="media-body">
					<h4 class="media-heading">2014-July 2015 Wearables Demand Report -Argus Insight</h4>
					<p>Report includes: analysis of the changing state of consumer demand in the wearables market, explanation of impact of slowing demand and introduction of the Apple Watch on mindshare of individual brands, comparison of smartwatch and fitness band consumer feedback to identify top usage scenarios and discussion of implications of market shifts and how companies can adapt to succeed.
						<br><br>Times ordered from this site: 1100
						<br>Language: English
						<br>Price: Free
						<br>Reliability: 79% <a href="#" data-toggle="popover" data-placement="top" class="glyphicon glyphicon-question-sign" data-content="Reliability is calculated from the suggestions of the experts adjusted with the user rated experience-level of the experts."></a></p>
					</div>
					<div class="media-right media-middle">
						<a href="http://www.argusinsights.com/wearables-demand-14-15/" class="btn btn-default btn-success btn-lg">Order</a>
					</div>
				</li>
			</ul>
			<div my-request>
			</div>

			<script>
				$(document).ready(function(){
					$('[data-toggle="popover"]').popover(); 
				});
			</script>
