<div class="tab-pane" id="industry-content-wrapper">
	<h2>Future</h2>
	<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
	<img src="img/wearable_future.PNG" style=""></div>
	</div>
		<div class="row">
	<div class="col-xs-12">
	<h2>Expert future reports</h2>
		<ul class="media-list list-group">
  <li class="media list-group-item player-list-item">
    <div class="media-left media-middle expert-icon">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Smith</h4>
      <p>I think everything will be great and amazing!!</p>
    </div>
  </li>

</ul>
	</div>
</div>
