<div class="container">
	<div my-path></div>
	<h2>{{ industry.name }}</h2>
	<ul class="nav nav-tabs" id="tabs">
		<li ui-sref-active="active"><a ui-sref="industries.sub.summary">Summary</a></li>
		<li ui-sref-active="active"><a ui-sref="industries.sub.top-players">Top players</a></li>
		<li ui-sref-active="active"><a ui-sref="industries.sub.experts">Experts</a></li>
		<li ui-sref-active="active"><a ui-sref="industries.sub.reports">Reports</a></li>
		<li ui-sref-active="active"><a ui-sref="industries.sub.future">Future</a></li>
		<li class="dropdown" ng-show="subIndustries.length">
			<a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">Subindustries</a>
			<ul class="dropdown-menu">
				<li ng-repeat="subindustry in subIndustries"><a ui-sref="industries.sub.summary({industryCode: subindustry.code})">{{ subindustry.name }}</a></li>
			</ul>
		</li>
	</ul>

	<div class="tab-content">
		<div ui-view>
		</div>
	</div>


	<div class="container-fluid" id="main-wrapper">

	</div>

</div>

<footer>

</footer>