<div class="tab-pane" id="industry-content-wrapper">
	<h2>Experts</h2>
	<ul class="media-list list-group" ng-if="industry.code!=3345191">
		<li class="media list-group-item player-list-item">
			<div class="media-left media-middle expert-icon">
				<a href="#">
					<span class="media-object glyphicon glyphicon-alert"></span>
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">No writings about this industry</h4>
				<p>We are sorry but nobody has written about this industry yet. Feel free to request content and inform us about your needs!</p>
			</div>
		</li>
	</ul>
	<ul class="media-list list-group" ng-if="industry.code==3345191">
  <li class="media list-group-item player-list-item">
    <div class="media-left media-middle expert-icon">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">John Smith</h4>
      <p>I have worked with wearable technology over a decade and I am considered as one of the top experts in this industry.
	  <br><br>Times contacted on this site: 405
	  <br>Answer rate: 94%
	  <br>Overall rating: 96%</p>
    </div>
	    <div class="media-right media-middle">
		<button class="btn btn-default btn-success btn-lg">contact</button>
		</div>
  </li>
    <li class="media list-group-item player-list-item">
    <div class="media-left media-middle expert-icon">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Joe Thomas</h4>
      <p>I am not ordinary joe when it comes to wearable technology. I am currently working as a chief product manager in one of the most important players on this industry.
	  <br><br>Times contacted on this site: 105
	  <br>Answer rate: 91%
	  <br>Overall rating: 92%</p>
    </div>
	    <div class="media-right media-middle">
		<button class="btn btn-default btn-success btn-lg">contact</button>
		</div>
  </li>
</ul>
</div>
<div my-request>
	
</div>